div {
  display: grid;
}

.line {
  display: flex;
}

.piece {
  position: relative;
  box-sizing: border-box;
  color: wheat;
  text-shadow: 1px 1px black;
  text-align: center;
  border: solid 1px black;


}

.bulge {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;
  left: -10px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: solid 1px black;
}

.concavity {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;
  right: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
  border-right: none;

}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  width: auto;
  height: auto;
  border: solid 1px black;
}

.field .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 10px;
}
